$primary-color : #FD7E37;
$white:#FFFFFF;
$date :#663014;
$border:#707070;
$black-color:#00000080;
$mehroon:#331100;

$break-point-lg :75em;
$break-point-md :68.5em;
$break-point-sm-md :61em;   //998px
$break-point-sm: 48.2em;
$break-point-xm: 36em;
