@media screen and (max-width: $break-point-md) { // 1080px
    header{
         background-color: $primary-color;
         text-transform: uppercase;
         color:$white;
        .main-menu{
            .menu {
                font-size: 1.6rem;
            }
        }
    
        }
       .diplome .diplome-description ,form{
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }  
@media screen and (max-width: $break-point-sm) { 
            h2{
                font-size: 2.5rem;
            }
            header{
                    .main-menu{
                    
                        [hidden] {
                            display: none;
                        }
                        .menu:not([hidden]){
                            display: block;
                            transform: translateX(0);
                        }
                       .toggle-menu{
                           display: initial;
                       }
                    }
             }
            .main{  
                .main-text{
                    .h1-like { 
                    font-size: 3.5rem;
                    }
                    .main-text-btn{
                        margin-left:5rem;
                        font-size: 2.5rem;
                    }
                }
            }
            .latest-news{
                .card-grid{
                    grid-template-columns: auto;
                }
            }
            .students{
                .student-list{
                    grid-template-columns: repeat(2 , 1fr);
                }
            }
            .student-data{
                .student-personal-info{
                 
                    grid-template-columns: repeat(2,1fr);
                    gap:4rem;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;   
                }
            }
            .diplome{
                .diplome-grid{
                    grid-template-columns: repeat(1,1fr);
                    margin-left: 3rem;
                    margin-right: 3rem;
                }
            }
            .sub-subject .sub-subject-para, .diplome .diplome-description ,.sub-actualities .sub-card,form{
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                }
            footer{
                .myBtn {
                    display: block !important;
                    position: fixed;
                    bottom: 20px;
                    right: 30px;
                    z-index: 99;
                    font-size: 18px;
                    border: none;
                    outline: none;
                    background-color:$mehroon;
                    color: $border;
                    cursor: pointer;
                    padding: 15px;
                    border-radius: 4px;
                  }
                  
                  .myBtn:hover {
                    background-color:$border;
                    color:$mehroon;
                  }
                .main-footer{
                    flex-wrap: wrap;
                    margin-left: 5rem;
                    margin-right: 5rem;
                }
            }
     } 
     @media screen and (max-width: $break-point-xs) {

        .students{
            .student-list{
                grid-template-columns: repeat(1 , 1fr);
            }

     }
    }
