/* basic layout of page */
html{
    min-height: 100vh;
}
body{
    .container{

        max-width: 126.6rem;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (max-width: $break-point-xm) { //360px
        .container {
            max-width: 30rem;
        }
    }
    
    @media screen and (max-width: $break-point-sm) { //768px
        .container {
            max-width: 68.8rem;
        }
    }
    @media screen and (max-width: $break-point-sm-md) { // 998px
        .container {
            max-width: 80.8rem;
        }
    }
    
    @media screen and (max-width: $break-point-md) { // 1080px
        .container {
            max-width: 100rem;
        }
    }
    

    h2{
        font-size: 3rem;
        text-align: center;
        margin-top: 2.5rem;
        font-family: 'raleway', bold;
        font-weight: 700;
        color:$mehroon;
    }
    .card{
        position:relative;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.5rem;
        gap:4rem;
        background-color: $white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        &:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }  
        .card-content{
            margin-left: 1.14rem;
            margin-right: 1rem;
        }
        .card-title{
            font-family: 'raleway';
            font-weight: 600;
            font-size:2.5rem;
            color:$mehroon;
        }
        .card-title-para{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size:1.25rem;
            color:$mehroon;
        }
        .card-link{
            display: flex;
            justify-content: center;
            min-height: 3rem;
            width:100%;
            margin-top: 1.5rem;
            font-family: 'montserrat' , SemiBold;
            font-weight: 600;
            font-size: 1.5rem;
            border: none;
            background-color: $primary-color;
            color: $white;
            align-items: center;
            text-decoration: none;
            &:focus{
                background-color: $white;
                color:$primary-color;
        
            }
            .card-link-right-flesh{
                margin-left: 0.8rem;
            }
        }
    }

    .pagination-btn{
        display: flex;
       justify-content: center;
     
        .pagination-btn-link{
        margin-right:3rem;
        color:$primary-color;
        border-color: $primary-color;
        border: 1px solid $primary-color;
        padding:1rem;
        border-radius: 0.3rem;
        background-color: $white;
        &:hover,
        &:focus{
        background-color: $primary-color;
        color:$white;
        }
        }
        .active{
            background-color: $primary-color;
            color:$white;
           }
    }
}



/* header  same for all pages */
header{
     background-color: $primary-color;
     text-transform: uppercase;
     color:$white;
   .main-menu{
       display: flex;
       justify-content: space-around;
       align-items: center;
       
        .toggle-menu {
            background-color: transparent;
            padding: 1.5rem;
            border: 0;
            color:var(--primary-color);
            display: none;
        
        }
        .menu {
            display: flex;
            position: static;
        }
  
       .logo{
           font-size: 4.8rem;
           font-family: 'raleway' , Bold;
           font-weight: 600;
       }
    .menu{
        display: flex;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size:1.5rem;

        .menu-list{
            margin-right:0.5rem ;
          
            .menu-link{
                display: block;
                text-decoration: none;
                color:$white;
                padding: 0.6rem 1.25rem;
                transition: .3s; 
                &:hover,
                &:focus{
                    background-color: $white;
                    color: $primary-color;
             
                }
            
            
            }
            .active{
                background-color: $white;
                color: $primary-color;
            }
        } 
     }
    } 
}
  






/* start of main page */
.main{
    min-height: 44.4rem;
    background-image: url('../images/Photo\ arrière-plan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (min-resolution:144dpi) {
        background-image: url('../images/Photo\ arrière-plan@2x.jpg');
        
    }
    .main-text{
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
        max-width:59.75rem ;
        min-height: 21.9rem;
        background-color: rgba(0, 0, 0, 0.274);
        color: $white;
        .h1-like{
            font-family: 'raleway';
            font-style: bold;
            font-weight: 600;
            max-width: 56.5rem;
            font-size: 4.5rem;
            margin-top: 1.44rem;
            margin-left: 1.5rem;
            margin-bottom: 3.1rem;
        }
        .main-text-btn{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            margin-top:3.1rem;
            margin-left: 21.1rem;
            padding-top:1.25rem;
            padding-bottom:1.25rem;
            padding-left:1.87rem;
            padding-right: 1.87rem;
            text-decoration: none;
            border: none;
            background-color: $primary-color;
            color: $white;
            font-family: Montserrat, SemiBold;
            font-size: 2.5rem;
            &:hover , &:focus {

                color: $primary-color;
                background-color: $white;
            }
        }
       
    }
}
.latest-news{
    .actualchild-link{
        text-decoration: none;
        color: $mehroon;
    }
    h2{
        margin-bottom: 2.5rem;    
    }

    .card-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:2rem;
        max-width:100%;
        margin:auto;
        .card{
            max-width: 38rem; 
        }
        .card-images{
            object-fit: cover;
            border-radius: 0.25rem;
        }
        .card-date{
            font-family: 'Montserrat';
            font-weight: 400;
            font-style: regular;
            display: flex;
            align-items: center;
            margin-top:1.5rem;
            margin-bottom: 1rem;
            color: $date;
            .date{
                margin-left: 0.5rem;
            }
        } 
        
        
    }

}
.students{
    background-color: $primary-color;
    border: 1px solid $border;
    color: $white;
    .student-list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
    }
    .student-info{
        text-align: center;
        .stddata-link{
            text-decoration: none;
        }
            .student-info-img{
                max-width:13.62rem;
                min-height: 13.62rem;
                margin-bottom: 1.25rem;
                border-radius: 50%;
              
            }
            .student-info-name{
                margin-bottom:1.25rem;
                font-family: 'Montserrat' ;
                font-weight: 600;
                font-size: 1.5rem;
                color: $white;
            }
            .student-info-link{
                color: $white;
                margin-bottom: 2.68rem ;
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 1rem;

            }
    }
}

.diplome{
    .diplome-description{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        font-family: 'raleway';
        font-weight: 600;
        font-size: 1.5rem;
        
        color:$mehroon;

    }
    .diplome-grid-card-list{
        text-decoration: none;
        color:$mehroon;
    }
    .diplome-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:3rem;
        .card-content{
            margin-bottom: 2.5rem;
            color:$mehroon;
            .card-title-diplome{
                margin-top: 2.5rem;
                margin-bottom: 2.5rem;
                font-size: 1.5rem;
            }
            .card-title-diplome-para{
                font-family: 'Montserrat';
                font-weight: 400;

                font-size: 1.25rem;

            }

        }
       
    }
}

/* start of student page */

.std-page{
    .students{
    background-color:$white;
    .student-info{
    margin-bottom: 1.43rem;
    }

    .student-info-name{
        color:$mehroon;
      
        text-decoration: none;
    }
    .student-info-link{
        color:$primary-color;
        

    }
    }
}

/* start of contact page */

.contact-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top:9rem;
    color:$mehroon;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.5rem;
    ::placeholder{
        font-size: 1.25rem;
        font-family:'Montserrat';
        font-style: italic;
        font-weight: 400;

    }
   .contact-form-name{
       grid-column: 1;
       margin-right: 3.2rem;
     
   }
   .contact-form-message{
       
       grid-column: span 2;
       .message{
        height: 15rem;
       }
   }
   .send-msg{
    margin-bottom:3.8rem;  
    font-family: 'Montserrat';
    font-weight: 600; 
    font-size: 1.5rem;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    
    button{
        background-color: $primary-color;
        border:none;
        color:$white;
        display: flex;
        align-items: center;
        background-color: $primary-color;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        border-radius: 4px;
        &:hover,
        &:focus{
            background-color:$white;
            color:$primary-color;
        }

        .right-flesh{
            margin-left: 1rem;
        }
        }
   }
   label{
       margin-top: 1.25rem;
   }
    input{ 
        resize: none;
        line-height: 5rem;
        width:100%;
        border:none;
        margin-bottom:5.2rem;
        border-bottom: 1.5px solid $border;
    }
}

/* start of confidentiality page */ 

.terms{
    .terms-heading{
        margin-bottom: 2.5rem;
    }
    .conditions{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 1.45rem;
        max-width: 52.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
}


/* student personal data page */

.student-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .std-data-name{
        margin-top: 2.5rem;
    }
    .student-data-img{
        height:25.25rem;
        width:25.25rem;
        border-radius: 50%;
        margin:auto;
        margin-top: 2.5rem;
    }
    .student-personal-info{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:8rem;
        margin-top: 2.5rem;
        .list-head{
            font-size: 1.5rem;
            font-family: 'Raleway';
            font-weight: 600;
        }
        .list-para{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 1.25rem;
        }
      
    }
    .student-personal-info-list-mots{
        grid-column: 1/-1;
        margin-bottom: 2.5rem;
    }
}


/* page sub actualities */
.sub-actualities{
    .card{
        max-width: 52.5rem;
        margin: auto;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        .card-title{
            font-size: 3rem;
            font-family: 'Raleway';
            font-weight: 600;
        }
        .card-date{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2.5rem;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 1rem;
            color: $date;
            .date{
                margin-left: 0.5rem;
            }
        }
        .sub-actualities-detail{
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 1.25rem;
            margin-top: 1.5rem;
            color:$mehroon;
            
        }
    }
}


/* start of sub Formation page */
.sub-subject{
    h2{
        color:$white;
    }
        .sub-subject-heading{
        background-image: url('../images/diplome.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height:25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-resolution:144dpi) {
            background-image: url('../images/Photo/diplome2x.jpg');
            
        }
       }
       .sub-subject-para{
        font-family: 'raleway';
        font-weight: 600;
        font-size: 1.5rem;
        max-width:52.5rem;
        margin-left:auto ;
        margin-right: auto;
        margin-top: 4.4rem;
        margin-bottom: 4.4rem;
        color:$mehroon;
    }
    }


footer{  
    background-color: $primary-color; 
    color: $white;
    font-family: 'Montserrat';
    font-weight: 600;
    .main-footer{
        display: flex;
        justify-content: space-between;
        address{
            margin-top: 2.5rem;
            margin-bottom: 2.25rem;
            font-size: 1.5rem;
        }
        .legal-right{
            display: flex;
            margin-top: 7.18rem;
            font-size: 1rem;
            .legal-right-link{
                text-decoration: none;
            color: $white;
            }
            p{
            margin-left: 1.25rem;
            }
        }
        .social-media{
            display: flex;
           margin-top: 6.75rem;
           margin-bottom: 6.5rem;
           img{
            padding-left: 3rem;
           }
        }
    }
}